.result-field {
    -fx-border-width: 2; 
    -fx-border-style: solid;
    -fx-border-color: #0489B1;
    -fx-padding: 3 6 6 6;
    -fx-font-size: 11pt;
    -fx-background-color: linear-gradient(#FFFFFF,#DF0101);
    /*-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );*/
}

.result-header {
    -fx-font-size: 16pt;
    /*-fx-font-family: "Cambria";*/
}

.table-header {
    -fx-font-size: 16pt;
}

.root {
    -fx-base: #58ACFA;
}