.result-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Cambria";
    -fx-border-width: 1; 
    -fx-border-style: solid;
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    /*-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );*/
}